@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria/Geometria.eot');
	src: local('☺'), url('../fonts/Geometria/Geometria.woff') format('woff'), url('../fonts/Geometria/Geometria.ttf') format('truetype'), url('../fonts/Geometria/Geometria.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Bold/Geometria-Bold.eot');
	src: local('☺'), url('../fonts/Geometria-Bold/Geometria-Bold.woff') format('woff'), url('../fonts/Geometria-Bold/Geometria-Bold.ttf') format('truetype'), url('../fonts/Geometria-Bold/Geometria-Bold.svg') format('svg');
	font-weight: 700;
	font-style: bold;
}

