+between(1025px, 1919px)
	*, *:before, *:after 
		font textFont, 0.94vw, 1.46vw, normal

	.main-header
		padding 11.25vw 20vw
		justify-content flex-start
		overflow hidden

		&:after
			size(100%, 0.83vw)
			
		&__banner
			width 35vw
			padding-bottom 0.63vw

		&__title
			margin-bottom 3.33vw
			font textFont, 3.75vw, 4.17vw, bold

		&__description
			margin-bottom 3.33vw
			padding-right 9.9vw

		&__more
			size(10vw, auto)
			padding 0.57vw 0
			font textFont, 0.83vw, 0.83vw, bold
			background-size 11.25vw 2.45vw

			&:after
				top -0.26vw
				size(14.06vw, 3.13vw)
			
	.wallet
		display block
		size(25vw, 18.02vw)
		
		&:after
			top -50vw 
			left -20vw
			size(78.05vw)
			background-size (78.05vw)
		
		&__image
			position absolute
			left -8.85vw
			top -15.63vw
			size(41.67vw)
			z-index 2
			
		&__shadow
			position absolute
			left -1.98vw
			bottom -3.39vw
			display block
			size(100%, auto)
			z-index 2

	.main-content
		padding 4.17vw 20vw

		&__title
			margin-bottom 2.5vw
			font textFont, 2.92vw, 3.33vw, bold

	.list-icon
		flex-wrap wrap
		max-height 8.5vw

		&__item
			max-width 15.63vw
			margin-bottom 1.67vw

		&__svg-icon
			size(2.5vw)
			margin-right 1.25vw

		&__description
			align-self center
			width 11.25vw
			padding 0vw 0
			font textFont, 0.94vw, 1.46vw, normal