+between(361px, 768px)
	*, *:before, *:after 
		font textFont, 2.08vw, 3.13vw, normal

	.main-header
		padding 10.42vw 12.55vw 
	
		&__banner
			padding-bottom 7.42vw

		&:after
			size(100%, 2.08vw)

		&__title
			margin-bottom 8.33vw
			font textFont, 6.25vw, 7.39vw, bold

		&__description
			margin-bottom 8.33vw
			padding-right 18.75vw

		&__more
			size(18.75vw, auto)
			padding 1.21vw 0
			font textFont, 1.82vw, 1.82vw, bold
			background-size 21.88vw 5.6w

			&:after
				top -0.39vw
				size(22.79vw, 6.51vw)

	.main-content
		padding 10.42vw 6.25vw 10.41vw

		&__title
			margin-bottom 6.25vw
			font textFont, 5.21vw, 6.25vw, bold

	.list-icon
		flex-wrap wrap
		max-height 28.2vw
		flex-direction row

		&__item
			max-width 29.95vw
			margin-bottom 3.13vw
			margin-right 6.25vw

		&__svg-icon
			size(6.25vw)
			margin-right 3.13vw

		&__description
			align-self center
			width 21.88vw
			padding 0vw 0
			font textFont, 2.08vw, 2.73vw, normal