+between(769px, 1024px)
	*, *:before, *:after 
		font textFont, 1.56vw, 2.34vw, normal

	.main-header
		padding 21.48vw 7.81vw
		justify-content flex-start

		&:after
			size(100%, 1.56vw)
			
		&__banner
			width 43.95vw
			padding-bottom 3.91vw

		&__title
			margin-bottom 6.25vw
			font textFont, 4.69vw, 5.47vw, bold

		&__description
			margin-bottom 6.25vw
			padding-right 1.76vw

		&__more
			size(18.75vw, auto)
			padding 1.21vw 0
			font textFont, 1.82vw, 1.82vw, bold
			background-size 21.88vw 5.6w

			&:after
				top -0.39vw
				size(22.79vw, 6.51vw)
			
	.wallet
		display block
		size(40.4vw, 33.1vw)
		
		&:after
			top -60vw 
			left -18vw
			size(104.12vw)
			background-size (104.12vw)
		
		&__image
			position absolute
			left -18.5vw
			top -32vw
			display block
			size(78.13vw)
			z-index 2				
			
		&__shadow
			position absolute
			left -3vw
			bottom -3.7vw
			display block
			size(100%, auto)
			z-index 2

	.main-content
		padding 7.81vw

		&__title
			margin-bottom 4.69vw
			font textFont, 3.9vw, 4.69vw, bold

	.list-icon
		flex-wrap wrap
		max-height 28.2vw

		&__item
			max-width 29.95vw
			margin-bottom 3.13vw
			flex-direction row

		&__svg-icon
			size(4.69vw)
			margin-right 2.34vw

		&__description
			align-self center
			width 27.34vw
			padding 0vw 0
			font textFont, 1.56vw, 2.73vw, normal