+above(1920px)
	*, *:before, *:after 
		font textFont, 18px, 28px, normal
		
	body
		width 1920px
		margin 0 auto

	.main-header
		padding 216px 384px
		justify-content flex-start
		background-image url(../images/splash.png)
		background-size auto
		background-repeat no-repeat
		background-position 900px -130px

		&:after
			size(100%, 16px)
			
		&__banner
			width 672px
			padding-bottom 12px

		&__title
			margin-bottom 64px
			font textFont, 72px, 80px, bold

		&__description
			margin-bottom 64px
			padding-right 190px

		&__more
			size(192px, auto)
			padding 11px 0
			font textFont, 16px, 16px, bold
			background-size 216px 47px

			&:after
				top -5px
				size(270px, 60px)
			
	.wallet
		position relative
		display block
		size(480px, 346px)
		
		&:after
			content ''
			position absolute
			top -50vw 
			left -20vw
			display block
			size(78.05vw)
			background-image url(../images/splash.png)
			background-repeat no-repeat
			background-size (78.05vw)
		
		&__image
			position absolute
			left -170px
			top -300px
			display block
			size(800px)
			z-index 2
			
		&__shadow
			position absolute
			left -38px
			bottom -65px
			display block
			size(100%, auto)
			z-index 2

	.main-content
		padding 80px 384px

		&__title
			margin-bottom 48px
			font textFont, 56px, 64px, bold

	.list-icon
		flex-wrap wrap
		max-height 160px

		&__item
			max-width 300px
			margin-bottom 32px
			flex-direction row

		&__svg-icon
			size(48px)
			margin-right 24px

		&__description
			align-self center
			width 216px
			padding 0vw 0
			font textFont, 18px, 28px, normal