@keyframes levitation{
	from{ transform: translate(0, 0); }
	50%{ transform: translate(0, -35px); }
	to{ transform: translate(0, 0); }
}

@keyframes transparency {
	from{ opacity : 1; }
	50%{ opacity: 0.4; }
	to{ opacity : 1; }
}

*, *:before, *:after 
	margin 0
	padding 0
	box-sizing border-box
	text-decoration none
	font textFont, 14px, 20px, normal
	color purpleBrown
	outline none
	list-style none
	
body,
html
	width 100%
	margin 0 auto
	background-color #fff

.main-header
	position relative
	display flex
	flex-direction row
	justify-content center
	align-items center
	padding 48px 36px
	overflow hidden
	
	&__banner
		padding-bottom 42px
	
	&:after
		content ''
		position absolute
		left 0
		bottom 0
		size(100%, 17px)
		background-image linear-gradient(to bottom, rgba(0, 0, 0, 0), purpleBrown)
		opacity 0.1
	
	&__title
		margin 0
		margin-bottom 48px
		font textFont, 32px, 40px, bold
		color #000000
		
	&__description
		margin-bottom 48px
		font-weight bold
		
	&__more
		position relative
		size(144px, auto)
		padding 8px 0
		font textFont, 14px, 14px, bold
		text-align center
		color rgba(purpleBrown, 0.9)
		background-color transparent 
		background-size 168px 43px
		border solid 2px purpleBrown
		transition ease 0.5s
		
		&:hover
			color #000000
			
			&:after
				opacity 0.6
		
		&:after
			content ''
			position absolute
			top -3px
			display block
			size(175px, 50px)
			background-image url(../images/button.png)
			background-repeat no-repeat
			background-size contain
			opacity 0.77
			transition ease 0.5s
		
	&__wallet
		position relative
		display none
		
		&:hover>.wallet__image
			animation levitation 3s ease-in-out 0s infinite normal none
		&:hover>.wallet__shadow
			animation transparency 3s ease-in-out 0s infinite normal none
		
		&:after
			content ''
			position absolute
			display block
			background-image url(../images/splash.png)
			
		&__image
			position absolute
			display block
			z-index 2				
			
		&__shadow
			position absolute
			display block
			size(100%, auto)
			z-index 2
		
.main-content
	padding 48px 36px 40px
	
	&__title
		margin-bottom 32px
		font textFont, 26px, 32px, bold
		
.list-icon
	display flex
	flex-direction column
	
	&__item
		display flex
		align-items center
		margin-bottom 24px
		
	&__svg-icon
		size(48px)
		margin-right 24px
		fill #000000
		object-fit contain
		
	&__description
		font textFont, 14px, 20px, normal
		color #000000