DOCTYPE
	html(lang="en")
		head
			meta(charset="UTF-8")
			meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
			meta(http-equiv='X-UA-Compatible' content='IE=edge')
			meta(name='cleartype' content='on')
			meta(name='google' value='notranslate')
			meta(name="robots" content="index, follow")
			meta(name='description' content='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.')
			meta(name='keywords' content='keywords')
			link(href='assets/images/favicon.ico'   rel='icon' type='image/x-icon')
			title Тестовое задание

			link(rel="stylesheet", href="assets/styles/style.min.css")

		body

			header.main-header
				div.main-header__banner
					h1.main-header__title Тестовое задание
					p.main-header__description На экранах до 1024px показывать CSS-анимацию. При клике на кнопку плавный scroll до следующего блока.
					button.main-header__more 
						a(href="#content").main-header__link Подробнее
				div.main-header__wallet.wallet
					image.wallet__image(src="assets/images/wallet.png")
					image.wallet__shadow(src="assets/images/shadow.png")
					
			main.main-content#content
				h2.main-content__title Колонки с иконками
				ul.main-content__list-icon.list-icon
					li.list-icon__item
						svg.list-icon__svg-icon
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_icon_3')
						p.list-icon__description Банковские карты
					li.list-icon__item
						svg.list-icon__svg-icon
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_icon_2')
						p.list-icon__description Мессенджер 
						
					li.list-icon__item
						svg.list-icon__svg-icon
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_icon_4')
						p.list-icon__description Интернет-банк
					li.list-icon__item
						svg.list-icon__svg-icon
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_icon_1')
						p.list-icon__description Электронный кошелёк
					li.list-icon__item
						svg.list-icon__svg-icon
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_icon_5')
						p.list-icon__description Баланс телефона
			
			
			script(type='text/javascript' src="assets/scripts/script.js")